<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="FireworksNet Rule Set" Description=" " ToolsVersion="12.0">
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="Warning" />
    <Rule Id="CA1012" Action="Warning" />
    <Rule Id="CA1013" Action="Warning" />
    <Rule Id="CA1018" Action="Warning" />
    <Rule Id="CA1023" Action="Warning" />
    <Rule Id="CA1024" Action="Warning" />
    <Rule Id="CA1026" Action="Warning" />
    <Rule Id="CA1027" Action="Warning" />
    <Rule Id="CA1028" Action="Warning" />
    <Rule Id="CA1031" Action="Warning" />
    <Rule Id="CA1032" Action="Warning" />
    <Rule Id="CA1034" Action="Warning" />
    <Rule Id="CA1036" Action="Warning" />
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1041" Action="Warning" />
    <Rule Id="CA1044" Action="Warning" />
    <Rule Id="CA1047" Action="Warning" />
    <Rule Id="CA1048" Action="Warning" />
    <Rule Id="CA1050" Action="Warning" />
    <Rule Id="CA1051" Action="Warning" />
    <Rule Id="CA1058" Action="Warning" />
    <Rule Id="CA1064" Action="Warning" />
    <Rule Id="CA1301" Action="None" />
    <Rule Id="CA1302" Action="Warning" />
    <Rule Id="CA1307" Action="Warning" />
    <Rule Id="CA1308" Action="Warning" />
    <Rule Id="CA1309" Action="Warning" />
    <Rule Id="CA1502" Action="Warning" />
    <Rule Id="CA1504" Action="Warning" />
    <Rule Id="CA1505" Action="Warning" />
    <Rule Id="CA1700" Action="Warning" />
    <Rule Id="CA1702" Action="Warning" />
    <Rule Id="CA1704" Action="Warning" />
    <Rule Id="CA1707" Action="Warning" />
    <Rule Id="CA1708" Action="Warning" />
    <Rule Id="CA1709" Action="Warning" />
    <Rule Id="CA1710" Action="Warning" />
    <Rule Id="CA1711" Action="Warning" />
    <Rule Id="CA1712" Action="Warning" />
    <Rule Id="CA1713" Action="Warning" />
    <Rule Id="CA1714" Action="Warning" />
    <Rule Id="CA1715" Action="Warning" />
    <Rule Id="CA1716" Action="Warning" />
    <Rule Id="CA1717" Action="Warning" />
    <Rule Id="CA1721" Action="Warning" />
    <Rule Id="CA1722" Action="Warning" />
    <Rule Id="CA1724" Action="Warning" />
    <Rule Id="CA1725" Action="Warning" />
    <Rule Id="CA1726" Action="Warning" />
    <Rule Id="CA1800" Action="Warning" />
    <Rule Id="CA1802" Action="Warning" />
    <Rule Id="CA1804" Action="Warning" />
    <Rule Id="CA1809" Action="Warning" />
    <Rule Id="CA1810" Action="Warning" />
    <Rule Id="CA1811" Action="Warning" />
    <Rule Id="CA1812" Action="Warning" />
    <Rule Id="CA1815" Action="Warning" />
    <Rule Id="CA1820" Action="Warning" />
    <Rule Id="CA1822" Action="Warning" />
    <Rule Id="CA1823" Action="Warning" />
    <Rule Id="CA1903" Action="Warning" />
    <Rule Id="CA2001" Action="Warning" />
    <Rule Id="CA2003" Action="Warning" />
    <Rule Id="CA2004" Action="Warning" />
    <Rule Id="CA2104" Action="Warning" />
    <Rule Id="CA2119" Action="Warning" />
    <Rule Id="CA2120" Action="Warning" />
    <Rule Id="CA2121" Action="Warning" />
    <Rule Id="CA2204" Action="Warning" />
  </Rules>
</RuleSet>